[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scons-tool-cxxtestgen = ">=0.1.5"
scons-tool-util = ">=0.1.9"

[dev-packages]
scons = ">=3.0.1"
twine = "*"
scons-tool-loader = ">=0.1.9"

[requires]
python = "2.7"
